<h1>Book Details</h1>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Total Copies:</strong>
  <%= @book.total_copies %>
</p>

<%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-secondary' %>
<%= link_to 'Back', books_path, class: 'btn btn-primary' %>
